body {
  overflow-x: hidden;
}
/* HEADER */
.header {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header nav {
  justify-content: flex-end;
}

.header nav #navbarNav {
  justify-content: center;
  font-family: "Teko";
  font-size: 20px;
}

/* INDEX */
.detalle-empresa {
  margin-top: 50px;
  font-size: 25px;
}

.detalle-empresa .titulo-bienvenida {
  margin-bottom: 50px;
  font-family: "Pacifico";
  font-size: 50px;
}

.detalle-empresa p {
  font-family: "Teko";
  font-size: 25px;
  color: #494747;
}

.presupuesto {
  margin-top: 50px;
  font-family: "Teko";
  font-size: 25px;
  background-color: #b84c4c;
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
}

.presupuesto a #btn-presupuesto {
  background-color: #b84c4c;
  color: white;
  display: inline-block;
  padding: 18px 44px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid white;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  width: 250px;
}

.presupuesto a #btn-presupuesto:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.galeria-index {
  margin-top: 50px;
  font-family: "Teko";
  font-size: 25px;
}

/* PIE-PAGINA */
.pie-pagina {
  background-color: #111;
  margin-top: 100px;
  padding-bottom: 100px;
}

.pie-pagina .columna-uno {
  color: white;
  margin-bottom: 10px;
}

.pie-pagina .columna-uno div {
  font-family: "Pacifico";
  font-size: 20px;
  padding-bottom: 10px;
}

.pie-pagina .columna-uno p {
  font-family: 'Teko';
}

.pie-pagina .columna-dos {
  font-family: "Teko";
  margin-bottom: 20px;
}

.pie-pagina .columna-dos .titulo {
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
}

.pie-pagina .columna-dos .titulo::before {
  content: "|";
  color: tomato;
  padding-right: 10px;
}

.pie-pagina .columna-dos img {
  height: 30px;
  width: 60px;
}

.pie-pagina .columna-tres {
  color: white;
  font-family: "Teko";
  margin-bottom: 5px;
}

.pie-pagina .columna-tres ul {
  padding-left: 10px;
}

.pie-pagina .columna-tres ul li {
  list-style: none;
}

.pie-pagina .columna-tres .titulo {
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
}

.pie-pagina .columna-tres .titulo::before {
  content: "|";
  color: tomato;
  padding-right: 10px;
}

.pie-pagina .columna-cuatro {
  font-family: "Teko";
  margin-bottom: 10px;
}

.pie-pagina .columna-cuatro a {
  padding-right: 5px;
}

.pie-pagina .columna-cuatro a i {
  color: white;
  font-size: 28px;
  list-style: none;
}

.pie-pagina .columna-cuatro .titulo {
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
}

.pie-pagina .columna-cuatro .titulo::before {
  content: "|";
  color: tomato;
  padding-right: 10px;
}

/* DETALLE - PIE - PAGINA */
.detalle-piePagina {
  color: white;
  font-family: "Teko";
  font-size: 20px;
  background-color: black;
}


/* BOTÓN FLOTANTE WHATSAPP */
.btn-wsp {
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  z-index: 100;
}

.btn-wsp .btn-wsp-icon {
  margin-top: 5px;
}

/* NOSOTROS */
.titulo-pagina {
  font-family: "Teko";
  color: white;
  background-color: black;
  margin-top: 110px;
  padding-top: 50px;
}

.titulo-nosotros {
  font-family: "Teko";
  font-size: 50px;
  text-align: center;
  margin-top: 25px;
}

.forma-trabajo {
  margin-top: 150px;
  background-color: #e6e6e6;
  padding-bottom: 50px;
}

.forma-trabajo .titulo-paso {
  font-size: "Teko";
  color: red;
}

.forma-trabajo p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.forma-trabajo .btn-presupuesto-nosotros {
  background-color: white;
  text-align: center;
}

.forma-trabajo .btn-presupuesto-nosotros div {
  padding-bottom: 25px;
  padding-top: 25px;
}

.forma-trabajo .btn-presupuesto-nosotros div a #btn-pres {
  background-color: #b84c4c;
  color: white;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Teko";
  font-size: 14px;
  font-weight: 400;
  border: 1px solid white;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  width: 250px;
}

.forma-trabajo .btn-presupuesto-nosotros div a #btn-pres:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}


/* SERVICIOS */
.card-servicio {
  height: 400px;
}

.card-servicio img {
  height: 225px;
  width: 100%;
}

.card-servicio .card-body {
  font-family: "Teko";
}


/* TRABAJOS */
#trabajos .col-md-3 {
  padding-top: 30px;
}

#trabajos .col-md-3 img {
  height: 250px;
  width: 100%;
}


/* CONTACTO */
#container-contacto .titulo-contacto {
  font-family: "Teko";
  font-size: 30px;
  margin-top: 50px;
}

#container-contacto .col-md-6 input {
  font-family: 'Teko';
  font-size: 20px;
}

#container-contacto .col-md-6 #btn-contacto {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Teko";
  font-size: 14px;
  font-weight: 400;
  border: 1px solid white;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  width: 100%;
}

#container-contacto .col-md-6 #btn-contacto:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

#container-contacto .col-md-4 ul {
  list-style: none;
}